@import "./themes/catppuccin-mocha.css";
* {
  border: none;
  border-radius: 0;
  font-family:
    /* Cartograph CF Nerd Font, */ JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 12px;
  padding: 0;
  min-height: 0;
  margin: -2;
}
window#waybar {
  background-color: rgba(46, 52, 64, 0);
  transition-property: background-color;
  transition-duration: 0.5s;
}

tooltip {
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @teal;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-cputemp,
#bluetooth,
#custom-launcher,
#custom-separator,
#custom-blankleft,
#custom-wprofi,
#custom-screenshot,
#custom-power,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#cpu,
#cava,
#temperature,
#keyboard-state,
#pulseaudio,
#custom-memory,
#idle_inhibitor,
#backlight {
  background: @base;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#bluetooth,
#custom-blankleft,
#window,
#clock,
#idle_inhibitor,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
  padding: 0px 10px;
  margin: 3px 0px;
  /*border: 1px solid #39404f; */
}

#clock {
  color: @peach;
  border-radius: 10px;
  margin-top: 14px;
  margin-bottom: 15px;
  border-left: 5px;
  border-right: 5px;
  margin-left: 15px;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

#custom-launcher {
  color: #d8dee9;
  border-radius: 10px 0px 0px 10px;
  padding: 5 5 5 10px;
  margin-top: 14px;
  margin-bottom: 15px;
  border-left: 5px;
  border-right: 5px;
  margin-left: 5px;
  margin-right: 0px;
}

#workspaces button {
  padding: 5px;
  color: #858383;
  margin-right: 5px;
}

#workspaces button.active {
  color: @pine;
}

#workspaces button.focused {
  color: @teal;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @red;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #39404f;
  color: @mauve;
  border-radius: 1px;
}

#workspaces {
  color: #d8dee9;
  border-radius: 0px 10px 10px 0px;
  margin-top: 14px;
  margin-bottom: 15px;
  border-right: 0px;
  margin-left: 0px;
  margin-right: 5px;
  padding-right: 2px;
  padding-left: 5px;
}

#custom-blankleft {
  border-radius: 10px 0px 0px 0px;
  margin-top: 14px;
  margin-bottom: 15px;
  margin-right: 0px;
  border-left: 0px;
  border-right: 0px;
}

/* left */
#cava,
#custom-blank,
#battery,
#custom-updates,
#custom-screenshot,
#cpu {
  border-radius: 10px 0px 0px 10px;
  margin-top: 14px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-right: 5px;
  padding-left: 15px;
}

/* center */
#network,
#tray,
#bluetooth,
#custom-cafeine,
#idle_inhibitor,
#custom-wprofi,
#custom-cputemp {
  color: @red;
  margin-top: 14px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-right: 5px;
  padding-left: 10px;
}

/* right */
#backlight,
#keyboard-state,
#pulseaudio,
#custom-power,
#custom-memory {
  color: @mauve;
  border-radius: 0px 10px 10px 0px;
  margin-top: 14px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 15px;
  border-left: 0px;
  border-right: 0px;
  padding-right: 10px;
}

#taskbar {
  border-radius: 10px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 14px;
  margin-bottom: 15px;
  color: #000000;
  background-color: rgba(57, 64, 79, 0);
  border-left: 10px;
  border-right: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

#taskbar button {
  border-radius: 8px 8px 8px 8px;
  padding: 0 0 0 8px;
  margin: 0px 2;
  margin-left: 0px;
  color: #000000;
  background: #39404f;
}
#taskbar button.active {
  background: #39404f;
}

#window {
  opacity: 100;
  background: none;
  color: #d8dee9;
  margin-top: 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  margin-left: 60px;
  margin-right: 60px;
}

#custom-test {
  color: @pink;
  background: linear-gradient(85deg, #39404f 5%, #39404f 45%, #39404f 75%);
  margin-top: 14px;
  margin-bottom: 15px;
  padding-right: 7px;
  padding-left: 7px;
  border-left: 2px;
  border-right: 2px;
}

#custom-pipewire {
  border-radius: 10px 0px 0px 10px;
  color: @mauve;
  margin-top: 14px;
  margin-bottom: 15px;
  margin-left: 5px;
  border-left: 0px;
  border-right: 0px;
  padding-right: 5px;
  padding-left: 10px;
}

#custom-wprofi {
  color: @green;
}

#custom-power {
  color: @red;
}

/* colors */
#network,
#cpu {
  color: @mauve;
}

#custom-separator {
  color: @surface0;
  margin-top: 14px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-right: 5px;
  padding-left: 5px;
}
#custom-caffeine {
  color: @flamingo;
}

#cava {
  color: @peach;
}

#custom-updates {
  color: @peach;
}

#bluetooth {
  color: @blue;
}
