[Desktop Entry]
Type=Application
Name=Rider with .profile
Comment=Rider IDE sourced with .profile
Exec=/home/mslauson/installs/custom-scripts/jetbrains/jetbrains-profile-launcher rider
Icon=/home/mslauson/.local/share/JetBrains/Toolbox/apps/rider/bin/rider.svg
Terminal=false
Categories=Development;IDE;
